<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{/layouts/header :: head}">

</head>
<body>

        <footer th:fragment="footer" class="bg-dark text-white py-4 mt-5">
                 <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center fs-4">
                        Realizado por: <a href="https://github.com/GabrielIturreCs">Iturre Sandoval Christian Gabriel</a>
                    </p>
                </div>
            </div>
        </div>
        </footer>
  
</body>
</html>