<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Iturre Sandoval Christian Gabriel</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #005E7D">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.fi.unju.edu.ar/" target="_blank" style="color: #fff; font-weight: bold;">Facultad Ingeniería</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent; border: none;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://www.fi.unju.edu.ar/" style="color: #fff; padding: 15px 20px; border: 1px solid #fff; border-radius: 5px; font-weight: bold;">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fi.unju.edu.ar/" style="color: #fff; padding: 15px 20px; border: 1px solid #fff; border-radius: 5px; font-weight: bold;">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fi.unju.edu.ar/" style="color: #fff; padding: 15px 20px; border: 1px solid #fff; border-radius: 5px; font-weight: bold;">Carreras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fi.unju.edu.ar/" style="color: #fff; padding: 15px 20px; border: 1px solid #fff; border-radius: 5px; font-weight: bold;">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fi.unju.edu.ar/" style="color: #fff; padding: 15px 20px; border: 1px solid #fff; border-radius: 5px; font-weight: bold;">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgt1qVsEjZ0f8kIG1sICTs285KvJG8VdisAXbXfCN&s" alt="Logo de la Facultad">
                    <h1>Facultad De Ingeniería UNJu</h1>
                    <p>FI - Facultad de Ingeniería - UNJu, San Salvador de Jujuy</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row">
            <aside class="col-md-2 order-md-2 mb-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Recursos Útiles
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="https://virtual.unju.edu.ar/" class="list-group-item list-group-item-action">Unju Virtual</a>
                        <a href="https://www.unju.edu.ar/biblioteca.html" class="list-group-item list-group-item-action">Biblioteca</a>
                        <a href="https://alumnos.unju.edu.ar/unju/" class="list-group-item list-group-item-action">Siu Guarani</a>
                        <a href="https://unju.edu.ar" class="list-group-item list-group-item-action">Unju</a>
                        <a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html" class="list-group-item list-group-item-action">Calendario Académico</a>
                    </div>
                </div>
            </aside>

            <section class="col-md-10 order-md-5">
                <h2>Breve Descripción</h2>
                <p>La Facultad de Ingeniería de la UNJu ofrece programas académicos de alta calidad que buscan formar ingenieros con una sólida base técnica y científica, preparados para enfrentar los desafíos de un mundo en constante cambio. La facultad se encuentra en la ciudad de San Salvador de Jujuy, capital de la provincia de Jujuy, y es una de las unidades académicas más importantes de la universidad.</p>

                <div class="row mt-5">
                    <div class="col-12">
                        <h2>Noticias</h2>
                    </div>
                </div>
                 <div class="row mt-5">
               
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="https://fi.unju.edu.ar/images/2024-Noticias/Ingeniavoz-2024-01.png" class="card-img-top" alt="News 1">
                            <div class="card-body">
                                <h5 class="card-title">Noticia 1</h5>
                                <p class="card-text">El Comité Organizador del CADI-CAEDI 2024 invita a los/as estudiantes a la convocatoria de la propuesta “IngeniaVoz”, espacio creado para ellos en el marco del CADI-CAEDI 2024.  Es la primera vez que se cuenta con un espacio sólo para estudiantes. La misma propone que los/as estudiantes puedan participar de forma activa mediante una presentación oral breve, estructurada y dinámica sobre temas que pueden ser muy variados desde tecnología y ciencia hasta arte y cultura,  todos ellos que tengan algún vínculo con la</p>
                                <a href="https://www.fi.unju.edu.ar/alumnos-noticias/4577-reunion-informativa-ingeniavoz-24-05-16-30hs.html" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="https://fi.unju.edu.ar/images/2024-Noticias/campamento-de-idiomas.jpeg" class="card-img-top" alt="News 2">
                            <div class="card-body">
                                <h5 class="card-title">Noticia 2</h5>
                                <p class="card-text">La capacitación está dirigida a:
                                    <ul>
                                        <li>Docentes</li>
                                        <li>Estudiantes</li>
                                        <li>No Docentes</li>
                                    </ul>
                                    Días de Clases:
                                    <ul>
                                        <li>Docentes:
                                            <ul>
                                                <li>11/05 virtual</li>
                                                <li>18/05 presencial</li>
                                            </ul>
                                        </li>
                                        <li>No Docentes y Estudiantes:
                                     
                                    </ul>
                                </p>
                                <a href="https://www.fi.unju.edu.ar/unju/4547-campamento-de-idiomas-la-unju-habla-con-el-mundo.html" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="https://fi.unju.edu.ar/images/2024-Noticias/convocatoria_fiunju.jpg" class="card-img-top" alt="Noticia 3">
                            <div class="card-body">
                                <h5 class="card-title">Noticia 3</h5>
                                <p class="card-text">La facultad de ingenieria  informa que  se realizara un evento hacia estudiantes <li>
                                    IMPORTANTE
                                </li>Desde la Secretaría de Ciencia y Técnica de la Facultad de Ingeniería, extendemos la invitación a la presentación de Proyectos de Investigación Básica y Aplicada a todos los docentes.</p>
                                <a href="https://www.fi.unju.edu.ar/investigacion-noticias/4546-convocatoria-de-proyectos-de-investigacion-en-la-facultad-de-ingenieria-participa-y-desarrolla-tu-potencial.html" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center fs-4">
                        Realizado por: <a href="https://github.com/GabrielIturreCs">Iturre Sandoval Christian Gabriel</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-+JryHrL8AB6GdJRSXpVJmHrBf5p8gO7mrQq5j/jXVVFVFVvyu2Hhq8Ck3DHDKx8J" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgPsWjMDpqtaG7Sd2PmW5eXSHBQWleuoTf6q0kcgJ5p6J6exsyD" crossorigin="anonymous"></script>
</body>
</html>